<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello and welcome to my portfolio. My name is Scott, I am currently a student at Metropolitan Community College persuing an ASA in DIMA 3D Animation & Games.
        I have also completed some udemy courses on my own time to continue my coding education not in a classroom setting. I have been developing in Unity using C-sharp
        for 2+ years. Most of my projects so far have been rapid prototypes to flush out ideas and gain experience working quickly for proof of concept.</p>
      </div>
      <div class="col-lg-4">
        <p>I am looking to work as a Unity Gameplay Programmer or Unity Game Dev. I still have a lot to learn but am willing to learn every step of the game developement
          process and contribute where and when I can.
          </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://swesdkts.itch.io/" class="btn btn-lg btn-outline">
          <i class="fa fa-external-link" aria-hidden="true"></i> Visit itch.io
        </a>
      </div>
    </div>
  </div>
</section>
